[submodule "lit-functional"]
	path = lit-functional
	url = https://github.com/uzh/lit-functional
[submodule "lit-demo"]
	path = lit-demo
	url = https://github.com/uzh/lit-demo
[submodule "lit-plantation-lives"]
	path = lit-plantation-lives
	url = https://gitlab.uzh.ch/lit/lit-plantation-lives
[submodule "lit-madness"]
	path = lit-madness
	url = https://gitlab.uzh.ch/lit/lit-madness
[submodule "lit-foxes"]
	path = lit-foxes
	url = https://gitlab.uzh.ch/lit/lit-foxes.git
[submodule "lit-tutorial"]
	path = lit-tutorial
	url = https://github.com/uzh/lit-tutorial
